<!DOCTYPE html>
   <html>
   <style>
    .column {
  float: left;
  width: 21%;
  padding: 5px;
   border-radius: 25px;
   margin-right: 35px;  
   margin-bottom: 30px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
h1 {

text-align: center;
color:#2691d9;
font-family: "Poppins", sans-serif;

}
body {
  background-color: #ADFF2F

;
}
</style>
<body>
<h1> Choose a map! </h1>
      <div class="row">
  <div class="column">
    <a href="/map"><img src="static/usmap2.png" alt="Snow" style="width:100%"></a>
  </div>
  <div class="column">
    <img src="static/asia.gif" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="static/europe.jpg" alt="Mountains" style="width:100%">
  </div>
  <div class="column">
    <img src="static/america.webp" alt="Mountains" style="width:100%">
  </div>
</div>
</body>
</html>