<!DOCTYPE html>
   <html>
   <style>
    .column {
  float: left;
  width: 17%;
  padding: 5px;
   border: 10px solid #73AD21;
   border-radius: 25px;
   margin-right: 35px;  
   margin-bottom: 30px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
      <div class="row">
  <div class="column">
    <a href="/map"><img src="static/usmap2.png" alt="Snow" style="width:100%"></a>
  </div>
  <div class="column">
    <img src="static/asia.gif" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="static/europe.jpg" alt="Mountains" style="width:100%">
  </div>
  <div class="column">
    <img src="static/america.webp" alt="Mountains" style="width:100%">
  </div>
</div>
</html>