<!DOCTYPE html>
   <html>
     <head>

      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <script>
        var score = 0 
        var errors = 0 
        var chosen_state = ""
        /*/let arr = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "District of Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Minor Outlying Islands", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"];/*/
        let arr = ["Alabama", "Washington", "California"]
        var today = new Date();
        var start_time = today.getMinutes();


      function start_game(){
        document.getElementById("start").style.display = 'none';
      }

      function random_state() {
          document.getElementById("state").innerHTML=(arr[(Math.floor(Math.random() * arr.length))]);
          arr.pop(document.getElementById("state"));
      }

      function check_state(chosen_state){
        console.log(arr)
          if (document.getElementById("state").innerHTML== chosen_state){
            score ++;
            alert("Hello! I am an alert box!!");
            //document.getElementById(chosen_state).style.background = red;
            random_state();
            game_over();
          }
          else{
            errors ++;
          }
        }

       function game_over(){
        if (score==3){
          var today = new Date();
          var end_time = today.getMinutes();
          //in case the hour has changed 
          if (end_time < start_time){
            var num1 = 60 - start_time
            time_diff = num1 + end_time
          }
          else{
          var time_diff = end_time - start_time; 
        }
         
          var final_score = time_diff + errors;
          alert(time_diff);
        }
        console.log("hi")
         $.post( "/map", {
            "final_score": final_score 
          });
}
      
      


      </script>
      

        <button type="button" id="start" onclick="random_state(); start_game()"> Start game </button>
        <h1 id="state"></h1>
       <style>

       .img { 
       width:70%;
       height: auto;
       top:0;
       left:0;
       position: relative; 
       z-index: 1;
       } 

       .anybutton {
       top:23%;
       left:10%;
       position: absolute;
       z-index: 2;
       background: orange; 
       display:block;
       height: 30px;
       width: 30px;
       border-radius: 50%;
       border: 1px solid red;
       }

      </style>
   </head>

     <body style="text-align:center; margin: 0px;">

       <div class="mycenter" id="">
          <img src='static/usmap2.png' class="img" id="img" /> 
          <button type="button" class="anybutton" style="top:23%; left:20%;" id="Washington" onclick='check_state("Washington")' name="Washington"></button>
          <button type="button" class="anybutton" style="top:45%; left:21%;" id="California" onclick='check_state("California")' name="Washington"></button>
          <button type="button" class="anybutton" style="top:45%; left:50%;" id="Alabama" onclick='check_state("Alabama")' name="Washington"></button>
       </div>

       
      </body>
</html>